html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	font-size: 2rem;
}

strong {
	font-size: 2.8rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

/*utilities*/
:root {
	--color-light: #f4f4f4;
    --color-dark: #252529;
	--color-nav: rgba(0, 0, 0, .5);
	--colo-nav-hover: #959da5;
	--color-github-hover: #6a737d;
	--color-linkedin-hover: #0072b1;
	--color-gradient: linear-gradient(to right, rgb(10, 109, 104), rgb(12, 54, 109));
	--color-check: rgb(6, 190, 182);
	--color-sass: #cf649a;
	--color-js: #f7df1e;
	--color-bs: #563d7c;
}

/*background color*/
.bg-light {
	background: var(--color-light);
}

.bg-dark {
	background: var(--color-dark);
}

.bg-gradient {
	background: var(--color-gradient)
}

/*text color*/
.txt-light {
	color: var(--color-light);
}
.txt-dark {
	color: var(--color-dark);
}
